<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div formGroupName="personalData" novalidate>
    <input formControlName="email" placeholder="e-mail"/>
    <br/>
    <input formControlName="mobile" placeholder="mobile" />
    <select formControlName="country" required>
      <span>Country: </span><option value="" disabled selected>Country</option>
      <option *ngFor="let country of countries" [value]="country">
        {{country}}
      </option>
    </select>
  </div>
  <span>Request Type: </span> <select formControlName="requestType">
    <option *ngFor="let requestType of requestTypes" [value]="requestType">
      {{requestType}}
    </option>
  </select>
  <input formControlName="text" placeholder="text"/>
  <button type="submit" [disabled]="contactForm.pristine">Save</button>
  <button type="reset" (click)="revert()" [disabled]="contactForm.pristine">
    Revert
  </button>
</form>
